header {

  /* position: sticky (deixei fixed para passar no cc) */
  align-items: center;
  background-color: rgb(19, 22, 20);
  display: flex;
  height: 10vh;
  justify-content: flex-start;
  padding-left: 10vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
}

.page-title {
  color: #f8f9fa;
  font-size: 36px;
  font-weight: 500;
}
