.movie-list {
  align-content: flex-start;
  align-items: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 6px 0;
  position: relative;
  top: 20vh;
}

.test-appear {
  opacity: 0;
}

.test-appear.test-appear-active {
  opacity: 1;
  transition: 1000ms linear;
}
