h3 {
  font-size: 18px;
  opacity: 0.9;
}

.MovieList {
  left: 20vw;
  position: absolute;
}

.Movie-Library {
  align-items: flex-start;
  background-color: rgb(19, 20, 28);
  color: whitesmoke;
  display: flex;
  flex-flow: nowrap;
  font-size: 16px;
  justify-content: flex-start;
  margin: 0;
  top: 10vh;
}

.library-options {
  font-size: 16px;
  position: fixed;
  top: 10vh;
}

.lib-opt {
  align-items: stretch;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-bottom: 40px;
  text-align: left;
  width: 100%;
}

.Showed {
  background-color: rgb(19, 20, 20);
  display: block;
  margin: 0;
  max-height: 80vh;
  max-width: 20vw;
  min-height: 90vh;
  min-width: 20vw;
  z-index: 2;
}

.notShowed {
  display: none;
}
